
Source: capi-media-sound-manager
Section: libs
Priority: extra
Maintainer: Seungkeun Lee <sngn.lee@samsung.com>, Kangho Hur<kagho.hur@samsung.com>
Build-Depends: debhelper (>= 5), libmm-sound-dev , capi-base-common-dev , dlog-dev, libmm-session-dev

Package: capi-media-sound-manager
Architecture: any
Depends: ${shilbs:Depends}, ${misc:Depends} , libmm-sound-0, libmm-session-0
Description: A Sound Manager library in Tizen Native API

Package: capi-media-sound-manager-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-media-sound-manager (= ${Source-Version}), dlog-dev, capi-base-common-dev, libmm-sound-dev, libmm-session-dev
Description: A Sound Manager library in Tizen Native API (DEV)

Package: capi-media-sound-manager-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-media-sound-manager (= ${Source-Version})
Description: A Sound Manager library in Tizen Native API (DBG)

